.box{
    max-width: $container-xl;
    margin: 0 auto;

    padding: 0px 24px;
}

.container-swiper{
    max-width: $container-xl;
    margin: 0 auto;

    padding: 96px 24px;


    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.swiper-container{
    width: 100%;
    height: 100%;

    position: relative;
}

.swiper-slide{
    max-width: 420px;

    padding: 24px 36px;
    border-radius: 50px;

    background-color: $white-normal;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}